In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from datetime import date
import time
%matplotlib inline
import numpy as np
from numpy import nan

In [2]:
data_folder = "../Data-Analytics-DRMIS-SAP-Production-DATA/"
df = pd.read_csv(data_folder + "DRMIS_Prod.csv", encoding = 'ISO-8859-1')
df = df.fillna('nil')
for i in range(len(df['Total planned costs'])):
    df['Total planned costs'][i] = float(df['Total planned costs'][i].replace(',',''))

c:\users\olfoa\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [3]:
df.head(2)

,Selected line,Order,Order Type,Basic start date,Description,Total revenues act.,Total planned costs,PM Orders planned hours,Technical Status,PM Orders actual hours,...,Actual Order Finish Date,Basic finish date,MaintActivityType,Equipment,Equipment.1,Equipment Registration Number,Equipment Type,License plate number,Costing Sheet,Purchase Order Number
0,nil,1101799516,L001,25/08/2015,SPV Repairs After Inspection,0.0,3874.12,0.0,SERV,27.5,...,nil,21/09/2015,L01,2.01107e+07,nil,33C94001,0,64956,nil,nil
1,nil,1102222740,L002,24/05/2016,CFCU-UKN-0274-CARGO SEA CAN INSP-30 MTH,0.0,313.71,3.0,nil,1.0,...,nil,24/05/2016,L27,2.0789e+07,nil,77392000,0,nil,nil,nil

In [10]:
df['MaintActivityType'].value_counts()

L27    1805
L01    1779
nil     651
L28      28
L02       4
L17       3
L03       3
L05       3
L16       3
L06       1
Name: MaintActivityType, dtype: int64

In [ ]:
'LO1 is repair'
'L27 is inspection'

In [12]:
CFRs = [75920, 75919, 6469, 6471, 21213]

In [13]:
for CFR in CFRs:
    cfr_df = df[df['License plate number']==CFR]
    num_work_order = len(cfr_df)
    num_hours = df[df["License plate number"]==CFR]['PM Orders actual hours'].sum()
    num_cost = df[df["License plate number"]==CFR]['Total planned costs'].sum()
    
    num_L27 = len(cfr_df[cfr_df['MaintActivityType']=='L27'])
    num_L01 = len(cfr_df[cfr_df['MaintActivityType']=='L01'])
    
    print("CFR " + str(CFR) +" has " +str(num_work_order) +" work orders")
    print("CFR " + str(CFR) +" has " +str(num_L27) +" inspections")
    print("CFR " + str(CFR) +" has " +str(num_L01) +" repairs")
    print("CFR " + str(CFR) +" has " +str(num_hours) +" hours")
    print("CFR " + str(CFR) +" has " +str(num_cost) +" cost")
    
    print(' ')

CFR 75920 has 15 work orders
CFR 75920 has 3 inspections
CFR 75920 has 12 repairs
CFR 75920 has 79.5 hours
CFR 75920 has 1305.92 cost

CFR 75919 has 13 work orders
CFR 75919 has 4 inspections
CFR 75919 has 9 repairs
CFR 75919 has 138.0 hours
CFR 75919 has 1315.8000000000002 cost

CFR 6469 has 13 work orders
CFR 6469 has 4 inspections
CFR 6469 has 7 repairs
CFR 6469 has 66.5 hours
CFR 6469 has 1413.1000000000001 cost

CFR 6471 has 15 work orders
CFR 6471 has 3 inspections
CFR 6471 has 11 repairs
CFR 6471 has 41.0 hours
CFR 6471 has 2098.17 cost

CFR 21213 has 6 work orders
CFR 21213 has 2 inspections
CFR 21213 has 4 repairs
CFR 21213 has 17.5 hours
CFR 21213 has 877.2 cost