In [1]:
import pandas as pd
import numpy as np
import time
import os

import spacy

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPool1D
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.text import Tokenizer

In [141]:
data_folder = "../Data-Analytics-DRMIS-SAP-Production-DATA/"

df = pd.read_csv(data_folder + 'LAV 6.csv', encoding = 'ISO-8859-1', index_col = 0).reset_index(drop = True)
#re-download df with MaintActivityType
df = df[df['Order Type']=='L001'].reset_index(drop = True)

In [142]:
text = df['Description'].astype(str).tolist()
token = Tokenizer()
token.fit_on_texts(text)
vocab = len(token.index_word) + 1
encoded_text = token.texts_to_sequences(text)

max_length = max([len(x) for x in encoded_text])

token_dict = token.__dict__
word_list1 = list(token_dict['index_word'].values())
drop_list = []

In [150]:

for i in range(1,max_length+1):
    df[str(i)+ ' encoded word'] = [0]*len(df)
    for n in range(len(df)):
        try:
            df[str(i)+ ' encoded word'][n] = encoded_text[n][i-1]
        except:
            pass

c:\users\olfoa\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [164]:
ready_df = df.drop(['Order Type', 'Created on', 'Basic start date', 'Description', 'PM Orders actual hours', 'Tail Number / Identifier', 
                    'User Status', 'Main work center', 'Vehicle Type', 'Work Type', 'Work Type Text', 'Scheduled Fin. Time', 'Scheduled finish',
                   'Scheduled start', 'Priority', 'Priority text', 'PM order', 'Maintenance item', 'MaintActivityType', 'Level', 'Level of work',
                   'Priority type', 'MaintActivityType.1', 'License plate number', 'Actual Finish Time', 'Actual Order Finish Date', 'Actual Order Finish Date',
                   'Actual release date', 'Actual start date', 'ActualStartTime'], axis = 1)

In [169]:
len(df.columns)

51

In [173]:
encoded_words_lists =[]

for i in range(1,13):
    encoded_words_lists.append(str(i)+ ' encoded word')

In [174]:
ready_df = df[['Total planned costs', 'PM Orders planned hours']+encoded_words_lists]

In [175]:
ready_df

,Total planned costs,PM Orders planned hours,1 encoded word,2 encoded word,3 encoded word,4 encoded word,5 encoded word,6 encoded word,7 encoded word,8 encoded word,9 encoded word,10 encoded word,11 encoded word,12 encoded word
0,"172,711.02",20.0,19,116,397,1,2,84,408,31,30,0,0,0
1,"8,214.99",8.0,19,116,259,1,2,195,448,94,0,0,0,0
2,"9,469.83",20.0,19,116,302,1,2,856,195,94,31,30,0,0
3,"173,727.17",19.0,116,16,131,42,1366,0,0,0,0,0,0,0
4,"9,356.58",15.0,116,16,196,387,281,88,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9974,0,0.0,1,2,3,9,345,757,0,0,0,0,0,0
9975,0,0.0,1,2,3,9,345,436,0,0,0,0,0,0
9976,0,0.0,1,2,3,358,288,289,0,0,0,0,0,0
9977,"198,383.79",0.0,74,277,0,0,0,0,0,0,0,0,0,0
9978,"198,383.79",0.0,74,277,0,0,0,0,0,0,0,0,0,0

In [94]:
token.__dict__.keys()

dict_keys(['word_counts', 'word_docs', 'filters', 'split', 'lower', 'num_words', 'document_count', 'char_level', 'oov_token', 'index_docs', 'word_index', 'index_word'])

In [ ]:
token_dict = token.__dict__
word_list1 = list(token_dict['index_word'].values())
drop_list = []

remove:
- non words (codes, ect)
- numbers
- stop words

In [27]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import spacy
nlp = spacy.load('en_vectors_web_lg')
def similarityy(x,y):
    return(nlp(x).similarity(nlp(y)))

In [ ]:
#remove numbers
for i in range(len(word_list1)):
    try:
        if type(float(word_list1[i])) == type(1.0):
            word_list1.pop(i)
    
    except:
        pass
    
for i in range(len(word_list1)):
    try:
        if type(float(word_list1[i])) == type(1):
            word_list1.pop(i)
    
    except:
        pass

for i in range(len(word_list1)):
    try:
        if len(word_list1[i]) <= 2:
            word_list1.pop(i)
    
    except:
        pass


#remove non words
for i in range(len(word_list1)):
    try:
        if similarityy(word_list1[i], 'vehicle') < 0.15:
            word_list1.pop(i)
    except:
        pass
for i in range(len(word_list1)):
    try:
        if type(float(word_list1[i])) == type(1.0):
            word_list1.pop(i)
    
    except:
        pass
    
for i in range(len(word_list1)):
    try:
        if type(float(word_list1[i])) == type(1):
            word_list1.pop(i)
    
    except:
        pass

for i in range(len(word_list1)):
    try:
        if len(word_list1[i]) <= 2:
            word_list1.pop(i)
    
    except:
        pass
    
word_counts = dict(token.__dict__['word_counts'])
real_words = {}
for word in word_list1:
    real_words[word] = word_counts[word]

In [110]:
len(real_words)

991

In [85]:
df['Description'][0]

'A-2VP-03403-LAV 6- POWER PACK N/S'

,Order Type,Created on,Basic start date,Description,Total planned costs,PM Orders planned hours,PM Orders actual hours,Tail Number / Identifier,User Status,Main work center,...,Actual start date,ActualStartTime,Available from Date,Available from time,Available to date,Available to time,Basic finish date,Estimated costs,Flow through costs,Maintenance strategy
0,L001,2016-04-24,2016-04-24,A-2VP-03403-LAV 6- POWER PACK N/S,"172,711.02",20.0,55.0,2011-03403,OAPP HPR1,XWBB---2,...,2016-04-25,12:00:00 AM,NaN,12:00:00 AM,NaN,12:00:00 AM,2016-04-24,0,NaN,NaN
1,L001,2016-04-12,2016-04-12,A-2VP-03427-LAV 6-Front Left Tire,"8,214.99",8.0,8.0,2011-03427,OAPP,XWBB---2,...,2016-04-14,12:00:00 AM,NaN,12:00:00 AM,NaN,12:00:00 AM,2016-04-12,0,NaN,NaN
2,L001,2016-04-12,2016-04-12,A-2VP-03452-LAV 6-Hydrop/Front tire N/S,"9,469.83",20.0,10.0,2011-03452,OAPP,XWBB---2,...,2016-04-18,12:00:00 AM,NaN,12:00:00 AM,NaN,12:00:00 AM,2016-04-12,0,NaN,NaN
3,L001,2019-04-10,2019-04-10,2VP - LAV6 - 03409 - Replace PP,"173,727.17",19.0,19.0,2011-03409,OAPP,XWBB---2,...,2019-04-10,12:00:00 AM,NaN,12:00:00 AM,NaN,12:00:00 AM,2019-04-10,0,NaN,NaN
4,L001,2019-04-08,2019-04-08,2VP - LAV6 - 03411 - L1 STRUT NS,"9,356.58",15.0,12.0,2011-03411,OAPP HPR1,XWBB---2,...,2019-04-08,12:00:00 AM,NaN,12:00:00 AM,NaN,12:00:00 AM,2019-04-08,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13666,L001,2016-05-27,2016-08-23,LAV 6.0 INSPECTION REPARATION - 03381,0,0.0,0.0,2011-03381,OAPP,202PROD,...,NaN,12:00:00 AM,NaN,12:00:00 AM,NaN,12:00:00 AM,2017-05-01,0,NaN,NaN
13667,L001,2016-05-27,2016-05-27,LAV 6.0 INSPECTION REPARATION - 03383,0,0.0,0.0,2011-03383,OAPP,202PROD,...,NaN,12:00:00 AM,NaN,12:00:00 AM,NaN,12:00:00 AM,2016-05-27,0,NaN,NaN
13668,L001,2017-02-06,2017-02-06,LAV 6.0 Engine ECM Flash,0,0.0,0.0,2011-03492,OAPP,202PROD,...,NaN,12:00:00 AM,NaN,12:00:00 AM,NaN,12:00:00 AM,2017-02-06,0,NaN,NaN
13669,L001,2018-02-26,2018-07-10,INSTALLATION BLINDAGE,"198,383.79",0.0,0.0,2016-03868,OAPP,202PROD,...,NaN,12:00:00 AM,NaN,12:00:00 AM,NaN,12:00:00 AM,2018-10-19,0,NaN,NaN
13670,L001,2018-02-26,2018-08-28,INSTALLATION BLINDAGE,"198,383.79",0.0,0.0,2016-03870,OAPP,202PROD,...,NaN,12:00:00 AM,NaN,12:00:00 AM,NaN,12:00:00 AM,2018-10-19,0,NaN,NaN

In [ ]:
#clustering should combine features from description, as well as PM orders planned hours, Total planned costs, order type

In [16]:
print(help(token))

Help on Tokenizer in module keras_preprocessing.text object:

class Tokenizer(builtins.object)
 |  Text tokenization utility class.
 |
 |  This class allows to vectorize a text corpus, by turning each
 |  text into either a sequence of integers (each integer being the index
 |  of a token in a dictionary) or into a vector where the coefficient
 |  for each token could be binary, based on word count, based on tf-idf...
 |
 |  # Arguments
 |      num_words: the maximum number of words to keep, based
 |          on word frequency. Only the most common `num_words-1` words will
 |          be kept.
 |      filters: a string where each element is a character that will be
 |          filtered from the texts. The default is all punctuation, plus
 |          tabs and line breaks, minus the `'` character.
 |      lower: boolean. Whether to convert the texts to lowercase.
 |      split: str. Separator for word splitting.
 |      char_level: if True, every character will be treated as a token.
 |      oov_token: if given, it will be added to word_index and used to
 |          replace out-of-vocabulary words during text_to_sequence calls
 |
 |  By default, all punctuation is removed, turning the texts into
 |  space-separated sequences of words
 |  (words maybe include the `'` character). These sequences are then
 |  split into lists of tokens. They will then be indexed or vectorized.
 |
 |  `0` is a reserved index that won't be assigned to any word.
 |
 |  Methods defined here:
 |
 |  __init__(self, num_words=None, filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n', lower=True, split=' ', char_level=False, oov_token=None, document_count=0, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit_on_sequences(self, sequences)
 |      Updates internal vocabulary based on a list of sequences.
 |
 |      Required before using `sequences_to_matrix`
 |      (if `fit_on_texts` was never called).
 |
 |      # Arguments
 |          sequences: A list of sequence.
 |              A "sequence" is a list of integer word indices.
 |
 |  fit_on_texts(self, texts)
 |      Updates internal vocabulary based on a list of texts.
 |
 |      In the case where texts contains lists,
 |      we assume each entry of the lists to be a token.
 |
 |      Required before using `texts_to_sequences` or `texts_to_matrix`.
 |
 |      # Arguments
 |          texts: can be a list of strings,
 |              a generator of strings (for memory-efficiency),
 |              or a list of list of strings.
 |
 |  get_config(self)
 |      Returns the tokenizer configuration as Python dictionary.
 |      The word count dictionaries used by the tokenizer get serialized
 |      into plain JSON, so that the configuration can be read by other
 |      projects.
 |
 |      # Returns
 |          A Python dictionary with the tokenizer configuration.
 |
 |  sequences_to_matrix(self, sequences, mode='binary')
 |      Converts a list of sequences into a Numpy matrix.
 |
 |      # Arguments
 |          sequences: list of sequences
 |              (a sequence is a list of integer word indices).
 |          mode: one of "binary", "count", "tfidf", "freq"
 |
 |      # Returns
 |          A Numpy matrix.
 |
 |      # Raises
 |          ValueError: In case of invalid `mode` argument,
 |              or if the Tokenizer requires to be fit to sample data.
 |
 |  sequences_to_texts(self, sequences)
 |      Transforms each sequence into a list of text.
 |
 |      Only top `num_words-1` most frequent words will be taken into account.
 |      Only words known by the tokenizer will be taken into account.
 |
 |      # Arguments
 |          sequences: A list of sequences (list of integers).
 |
 |      # Returns
 |          A list of texts (strings)
 |
 |  sequences_to_texts_generator(self, sequences)
 |      Transforms each sequence in `sequences` to a list of texts(strings).
 |
 |      Each sequence has to a list of integers.
 |      In other words, sequences should be a list of sequences
 |
 |      Only top `num_words-1` most frequent words will be taken into account.
 |      Only words known by the tokenizer will be taken into account.
 |
 |      # Arguments
 |          sequences: A list of sequences.
 |
 |      # Yields
 |          Yields individual texts.
 |
 |  texts_to_matrix(self, texts, mode='binary')
 |      Convert a list of texts to a Numpy matrix.
 |
 |      # Arguments
 |          texts: list of strings.
 |          mode: one of "binary", "count", "tfidf", "freq".
 |
 |      # Returns
 |          A Numpy matrix.
 |
 |  texts_to_sequences(self, texts)
 |      Transforms each text in texts to a sequence of integers.
 |
 |      Only top `num_words-1` most frequent words will be taken into account.
 |      Only words known by the tokenizer will be taken into account.
 |
 |      # Arguments
 |          texts: A list of texts (strings).
 |
 |      # Returns
 |          A list of sequences.
 |
 |  texts_to_sequences_generator(self, texts)
 |      Transforms each text in `texts` to a sequence of integers.
 |
 |      Each item in texts can also be a list,
 |      in which case we assume each item of that list to be a token.
 |
 |      Only top `num_words-1` most frequent words will be taken into account.
 |      Only words known by the tokenizer will be taken into account.
 |
 |      # Arguments
 |          texts: A list of texts (strings).
 |
 |      # Yields
 |          Yields individual sequences.
 |
 |  to_json(self, **kwargs)
 |      Returns a JSON string containing the tokenizer configuration.
 |      To load a tokenizer from a JSON string, use
 |      `keras.preprocessing.text.tokenizer_from_json(json_string)`.
 |
 |      # Arguments
 |          **kwargs: Additional keyword arguments
 |              to be passed to `json.dumps()`.
 |
 |      # Returns
 |          A JSON string containing the tokenizer configuration.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

None

In [ ]:
#create ranges of days WIP